*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  
}
.container{
    width: 100%;
    height: 100vh;

}
.nav{
    width: 100%;
    height: 90px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.navbar{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav img{
    width: 80px;
   
    
}
.nav-button{
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-button button{
    width: 120px;
    height: 30px;
    border-radius: 20px;
}
.nav-button :first-child{
    background-color: transparent;
}
.nav-button :nth-child(2){
    background-color: black;
    color: white;
    margin-left: 10px;
}
.nav-button :last-child{
    margin-left: 20px;
    font-size: 20px;
}
.heading-containt{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading-containt h1{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;


}
.heading-containt p{
    margin-block: 20px;
    text-align: center;
    font-size: 20px;
}
.center-button{
    width: 100%;
    height: auto;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 800px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.box input{
    width: 30%;
    height: 40px;
    border: none;
    background: transparent;
    color: black;
    margin-left: 5px;

}
.box i{
    width: 35%;
    height: 45px;
    border: 2px solid black;
    border-radius: 30px;
    padding-left: 20px;
}
.box button{
    width: 100px;
    height: 35px;
    border-radius:30px;
    background-color: black;
    color: white;
    margin-left: 10px;
}
.center-text{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
 padding-left: 20px;

 align-items: center;
 justify-content: space-between;

}
.center-text h3{
    font-size: 25px;
   
    font-weight: 800;
}
.center-text p{
    font-size: 20px;
  
    font-weight: 800;
}
.flex-box{
    width: 100%;
    height: 250px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mini-box1{
    width: 270px;
    height: 240px;
    background-color: rgb(73, 185, 73);
    border-radius: 20px;
}
.mini-box1 p{
    font-size: 10px;
    font-weight: 600;
    color: rgb(77, 72, 72);
    margin-top: 20px;
    margin-left: 20px;
}
.mini-box1 h2{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 700;
}
.mini-box1 h6{
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 600;
}
.mini-box1 hr{
    margin-top: 25px;
    width: 80%;
    margin-left: 20px;
    color: rgb(75, 126, 75);
    opacity: 0.5;
}
.mini-box1 h1{
    /* /* margin-top: 10px; */
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: auto; */ */
}
.mini-box1 i{
   
    background-color: black;
    color: white;
    width: 40px;
    padding-left: 5px;
    border-radius: 10px;
    height: 40px;
    padding-top: 5px;
}
.mini-box2{
    width: 270px;
    height: 240px;
background-color: black;
    border-radius: 20px;
}
.mini-box2 p{
    font-size: 10px;
    font-weight: 600;
    color: rgb(160, 101, 101);
    margin-top: 20px;
    margin-left: 20px;
}
.mini-box2 h2{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 700;
    color: white;
}
.mini-box2 h6{
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 600;
    color: rgb(160, 101, 101);
}
.mini-box2 hr{
    margin-top: 25px;
    width: 80%;
    margin-left: 20px;
    color: rgb(75, 126, 75);
    opacity: 0.5;
}
.mini-box2 h1{
    margin-top: 10px;
    margin-left: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mini-box2 i{
 
    background-color:white;
    color: black;
    width: 40px;
    padding-left: 5px;
    border-radius: 10px;
    height: 40px;
    padding-top: 5px;
}
.mini-box3{
    width: 270px;
    height: 240px;
background-color: rgb(156, 48, 156);
    border-radius: 20px;
}
.mini-box3 p{
    font-size: 10px;
    font-weight: 600;
    color: rgb(71, 45, 45);
    margin-top: 20px;
    margin-left: 20px;
}
.mini-box3 h2{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 700;
    color: black;
}
.mini-box3 h6{
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 600;
    color: black;
}
.mini-box3 hr{
    margin-top: 25px;
    width: 80%;
    margin-left: 20px;
    color: rgb(75, 126, 75);
    opacity: 0.5;
}
.mini-box3 h1{
    margin-top: 10px;
    margin-left: 15px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.mini-box3 i{
  
    background-color:black;
    color: white;
    width: 40px;
    padding-left: 5px;
    border-radius: 10px;
    height: 40px;
    padding-top: 5px;
   
}
.mini-box4{
    width: 270px;
    height: 240px;
background-color: yellow;
    border-radius: 20px;
}
.mini-box4 p{
    font-size: 10px;
    font-weight: 600;
    color: rgb(160, 101, 101);
    margin-top: 20px;
    margin-left: 20px;
}
.mini-box4 h2{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 700;
    color: black;
}
.mini-box4 h6{
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 600;
    color: black;
}
.mini-box4 hr{
    margin-top: 25px;
    width: 80%;
    margin-left: 20px;
    color: rgb(75, 126, 75);
    opacity: 0.5;
}
.mini-box4 h1{
    margin-top: 10px;
    margin-left: 15px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mini-box4 i{
    
    background-color:black;
    color:white;
    width: 40px;
    padding-left: 5px;
    border-radius: 10px;
    height: 40px;
    padding-top: 5px;
}
.footer1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.footer1 hr{
    width: 80%;
    /* margin-left: 90px; */
    margin-top: 30px;
    color: black;
    border: 1px solid black;
   
    opacity: 0.5;


}
.footer2{
    width: 100%;
    height: 90px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.footer2 p{

    font-size: 20px;
    font-weight:800
}
.footer2 i{
  
   border: 2px solid black;
   width: 40px;
   height: 40px;
   padding-block: 10px;
   padding-left: 10px;
   border-radius: 20px;
}



   
@media (max-width:768px) {

    .container{
        width: 100%;
        height: auto;
        padding-inline: 30px;
    }
    
    .nav{
        width: 100%;
        height: auto;
    }
    .navbar{
        width: 40%;
    }
    .nav-button{
        width: 50%;
    }
    .nav-button button{
        display: none;
    }

    .heading-containt{
        width: 100%;
        height: auto;

    }
    .heading-containt h1{
        font-size: 30px;
    }
    .center-button{
        width: 100%;
        height: auto;
    
    }

    .box{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .box button{
        margin-top: 20px;
    }

    .center-text{
        width: 100%;
        height: auto;
        padding-left: 0px;
        padding-inline: 0px;
    }
    .flex-box{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
 
    }

    .mini-box1{
        width: 400px;
        height: auto;
        margin-top: 20px;
    }
    .mini-box2{
        width: 400px;
        height: auto;
        margin-top: 20px;
    }
    .mini-box3{
        width: 400px;
        height: auto;
        margin-top: 20px;
    }
    .mini-box4{
        width: 400px;
        height: auto;
        margin-top: 20px;
    }
}
